<table class="table">
    <thead>
        <tr>
            <th scope="col">Producto</th>
            <th scope="col">Precio</th>
            <th scope="col">Img</th>
        </tr>
    </thead>
    <tbody id="cuerpoTabla">
        <% if (productos.length === 0) { %>
            <tr>
                <td colspan="3">No hay datos</td>
            </tr>
        <% }else{ %>
        
        <% for (let i = 0; i < productos.length; i++) { %>
            <% if (i%2) { %>
                <tr class="table-primary">
                    <td><%=productos[i].nombre%></td>
                    <td><%=productos[i].precio%></td>
                    <!-- <td><%=productos[i].foto%></td> -->
                    <td class="imagen"><img src=<%=productos[i].foto%>></img></td>
                </tr>
            <%} else { %>
            
                <tr class="table-secondary">
                    <td><%=productos[i].nombre%></td>
                    <td><%=productos[i].precio%></td>
                    <!-- <td><%=productos[i].foto%></td> -->
                    <td class="imagen"><img src=<%=productos[i].foto%>></img></td>
                </tr>
            <% } %>
            
        <% } } %>
    </tbody>
</table>